/* search input */
.groupInput {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  height: min-content;
  width: min-content;
  padding: 5px;
  margin: 10px 0;
  border-radius: 16px;
}
.groupInput input {
  width: 400px;
  height: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  margin-left: 5px;
}
/* search input end here */

/* repositories card */
.card {
  background-color: white;
  width: auto;
  min-height: 100px;
  border-radius: 12px;
  border-left: 8px solid #a4c9f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.left h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
}
.tag {
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
}

.card .right {
  align-self: flex-end;
}
.right h4 {
  font-weight: 500;
}
.right button {
  float: right;
  border: none;
  outline: none;
  background-color: #f6f8fa;
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: 700;
  background-color: #a4c9f6;
}
.right button:hover {
  color: white;
  cursor: pointer;
}

/* repositories card end here */

@media (max-width: 425px) {
  .groupInput input {
    width: auto;
  }
}
@media (max-width: 320px) {
  .left h3 {
    font-size: 24px;
    line-height: 24px;
  }
  .left p {
    font-size: 18px;
    line-height: 18px;
  }
  .tag {
    font-size: 12px;
    line-height: 12px;
  }
}
